/* navbar */
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
}

.nc {
  display: flex;
  justify-content: space-between;
  gap:12rem;
  background-color: white;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  margin: auto;
  position: relative;
}
.nav__img{
  
  height: 100%;
  width: 100%;
  
}
#nav__img{
width: 500px;
  
}

.navbar-nav{ 
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
}

.navbar-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0);
  font-size: 25px;
}
.navbar {padding: 0 1rem;}
.navbar .nav-item{
  padding-top:2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.navbar-toggler:focus{
  box-shadow: none;
 }
 .fa-solid {
   color:rgb(51, 255, 0);
 }

.active{
  background-color:rgb(51, 255, 0);
  height:100%;
  padding:0;
  margin: 0;
}
.active .nav-link{
  color:white;
}
.nav-item{
  padding-top: 5px;
  padding-bottom:5px;
}



/* slider */
.slider {
  position: relative;

  margin: 0 ; 
}

.slider__button{
  width:250px;
  height: 50px;
  color:white;
  background-color:rgb(51, 255, 0);
  border:none;
}

.slider__img{
  width:100%;
}
.slider__body {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  display:flex;
  flex-direction: row;
  
   


  
}
.slider__body p{
  max-width: 1480px;

  margin: auto; 
}
.slider__text {

font-size:30px;

}
.slider__button{
  border:none;

  max-width: 1480px;
  margin: auto;
  
}

/* cards */

  .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1480px;
    margin: auto;
  
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    
  
  }
  .card{
    position: relative;
    width: 30rem;
    background: #fff;
  }
.card__button{
  background-color:rgb(51, 255, 0) ;
  transform: translateY(-20px);
  width:150px;
  border:none;
  
}


  .card-body{
    
    text-align: center;
    
  }
.card__img{
  position: relative;
  
  transform: translateY(-50px);

  height: 100px;
  width: 100px;
  display:block;
  margin:auto;
 
}
.card-text{
  transform: translateY(-30px);
  color:grey;
  font-size: larger;
}
.card-title{
  transform: translateY(-50px);
}


  .card-img-top{
   
    border-radius: 50%;
    border:5px solid  lightgreen;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }

  /* buynow */
  .buy{
    position: relative;
  
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
  }

.buy__text{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 50px;
  font-size: larger;
  transform: translateY(100px);

  transform: translate(-50%, -50%);
}
.buy__button{
  background-color: rgb(51, 255, 0);
    width:250px;
    height:40px;
    text-align: center;
    align-items: flex-end;
    transform: translateY(10px);
    color: white;
    border:none;
  
  
  border-radius: 0%;
}

/* footer */
.footer__outer{
  background-color: rgb(6, 8, 10);
}

.footer{
  display: flex;
  justify-content: space-around;
  max-width: 1480px;
    margin: auto;
  
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__address{
  color:azure;
}
.footer__links{
  color:azure;
}
.footer__links__li{
  margin-bottom: 5px;
  margin-left: 15px;
}
.footer__links__icon{
  color:white;
  margin: 0;
}
.footer__links__header{
  margin-left: 0px;
}
.footer__news{
  margin:10px;
   background-color: rgb(49, 45, 45);
}
.footer__news__card{
  width: 18rem;
  background-color: rgb(49, 45, 45);
}
.footer__news__body{
  margin:10px;
   background-color: rgb(49, 45, 45);
}

.footer__bottom{
  border-top: 2px solid rgba(105,105,105,0.5);
  color:white;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer__news__header{
  text-align: 
  left;color: antiquewhite;
}
.footer__news__text{
  text-align: left;
  color: grey;

}
.footer__news__input{
  width:90%;
  margin-bottom: 3px;
}
 #test2{
  width:91%;
  background-color: rgb(51, 255, 0);
  color: white;
  
border:none;
 }
 .footer__bottom__span{
  color:rgb(51, 255, 0);
 }

 .footer__icons > li:before { 
  content: ">";
}
.footer__links__ul{
  padding-left: 1em; 
  list-style: none;
  text-indent: -1em;
  margin-left: 0;
}

::placeholder{
  font-size: 12px;
}






  




@media  (max-width: 1440px){
  .nc{
    gap: 0rem;
  }
  .navbar-nav a {
    text-decoration: none;
    color: rgba(0, 0, 0);
    font-size: 20px;
    text-align: center;
  }
  #nav__img{
    width:400px;
  }
  .navbar .nav-item{
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-nav{ 
  
    gap: 3rem;
  }

    .slider__body{
      gap:50px;
    }

    .slider__text{
      font-size: 22px;
    }
    .slider__button{
      width:250px;
      font-size: 20px;
    }
    .buy{
      margin-top: 0.1%;
      margin-bottom: 40px;
    }
    .buy__text{
      width: 94%;
      font-size: 22px;
    }
    .card{
      margin-bottom: 50px;
      width: 25rem;
    }
    .card__img{
      width:120px;
      height: 120px;
    }
    .card-text{
      font-size: large;
    }
    .footer__address{
      font-size: 23px;
    }
    .footer__links{
      font-size: 20px;
    }


  .footer__news__card{
  width:300px;
  margin-right: 5px;
  }
  .footer{
  display: flex;

  gap:50px;
  }
  
  
  .cards{
  gap: 50px;
  }
  }

  





    @media (max-width: 1320px){
      .nc{
      gap: 0rem;
      }
      .navbar-nav a {
        text-decoration: none;
        color: rgba(0, 0, 0);
        font-size: 18px;
        text-align: center;
      }
      #nav__img{
        width:350px;
      }
      .navbar .nav-item{
        padding:  1.5rem;
        padding-bottom: 1.5rem;
        padding-right: .5rem;
        padding-left: .5rem;
      }
      .navbar-nav a{ 
      
        gap: 2rem;
      }
      .navbar {padding: 0 1rem;}
      .navbar .nav-item{
        padding-top:1.5rem;
        padding-bottom: 1.5rem;
        padding-right: .5rem;
        padding-left: .5rem;
      }
      .navbar-nav{ 
        
        gap: 3rem;
      }
      .slider{
        width: 100%;
      }
      .slider__button{
        width :200px;
        height: 40px;
        font-size: 15px;
      }
      .slider__text{
        font-size: large;
   
      }
      .card-text{
        font-size: medium;
      }
      .card{
        width: 18rem;
      }
      .card__img{
        width:100px;
        height: 100px;
      }
      .slider img{
        height: 350px;
      }
      .buy__img{
        height: 200px;
      }
      .buy__button{
        width:180px;
      }
      .buy__text{width: 94%;
        font-size: 18px;}
      .footer__logo{
        padding-left: 3px;
        padding-right: 3px;
      }
      .footer__logo img{
        width: 200px;
      }
      .footer__address{
        font-size: large;
      }
      .footer__links{
        font-size: large;
      }
      .footer__news__card{
        width: 250px;
      }
    }
    
    @media (max-width: 1000px) {
      body{
        padding: 0;
        margin: 0;
        width: 100%;
        height:100%;
      }
      .navbar-nav a{
        font-size: 12px;
        color:black;
         text-align: center;
      }
  
    
      #nav__img{
        width: 250px;
      }
      .nc{
        gap: 0rem;
      }
        .nc {
          display: flex;
          flex-direction: row;
          
          background-color: white;
          align-items: center;
          width: 100%;
        }
        
        
        .navbar-nav { 
          display: flex;
          flex-direction: row;
          gap: 2rem;
        }
      
    
      .navbar {padding: 0 1rem;}
  .navbar .nav-item{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
    
    
      .slider__body{
      justify-content: center;
      align-items: center;
      gap:100px;
      height: 90px;
      }
      .slider__text{
        font-size: medium;
      }
  
      .slider__button{
        width :250px;
        height: 40px;
        font-size: 15px;
      }
      .slider img{
        height: 250px;
      }
      
      .cards{
       align-items: center;
        justify-content: center;
        gap: 10px;
        
        }
        .card{
        position: relative;
        width:13rem;
       
        background: #fff;
        }
        .card-text{
          transform: translateY(-40px);
          color:grey;
          font-size: 12px;
        }
        .card-title{
          font-size: 15px;
        }
        .card__button{
          width: 100px;
          font-size: smaller;
        }
        .card__img{
       
          
          transform: translateY(-40px);
        
          height: 80px;
          width: 80px;
        
         
        }
        
      .buy__img{
      height: 200px;
      
      }
      
      .buy__text{
      
      align-items: center;
      font-size: medium;
      width:94%;
      }
      .buy__button{
        background-color: rgb(51, 255, 0);
        width:300px;
        text-align: center;
        transform: translateY(-10px);
        
      }
      .footer{
        display: flex;
        flex-direction: row;
        gap:2rem;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        }
        .footer__logo img{
          width: 140px;
          padding-left: 5px;
        }
  
        .footer__address{
          width: 150px;
          font-size: 12px;
          
        }
        .footer__address h3{
          font-size: 18px;
        }
        .footer__links{
          width: 120px;
          font-size: small;
          
          font-size: 12px;
    
        }
        .footer__links h3{
          font-size: 18px;
        }
        .footer__news__body{
          margin:10px;
          background-color: rgb(49, 45, 45);
          }
          .footer__news__card{
            width: 13rem;
            background-color: rgb(49, 45, 45);
    
            }
            .footer__news__header{
              font-size: 15px;
            }
            .footer__news__text{
              font-size: small;
            }
        
        
        
       
          .footer__news__card{
            height:200px;
    
          }
          ::placeholder{
            font-size: 10px;
          }
    }

  @media (max-width: 768px) {
    body{
      padding: 0;
      margin: 0;
      width: 100%;
      height:100%;
    }
    .navbar-nav a{
      font-size: 12px;
      color:black;
       text-align: center;
    }

  
    #nav__img{
      width: 200px;
    }
    .nc{
      gap: 0rem;
    }
      .nc {
        display: flex;
        flex-direction: row;
        
        background-color: white;
        align-items: center;
        width: 100%;
      }
      
      
      .navbar-nav { 
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
    
  
    .navbar {padding: 0 1rem;}
.navbar .nav-item{
  padding-top:1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
  
  
    .slider__body{
    justify-content: center;
    align-items: center;
    gap:100px;
    height: 90px;
    }
    .slider__text{
      font-size: medium;
    }

    .slider__button{
      width :250px;
      height: 40px;
      font-size: 15px;
    }
    .slider img{
      height: 250px;
    }
    
    .cards{
     align-items: center;
      justify-content: center;
      gap: 10px;
      
      }
      .card{
      position: relative;
      width:12rem;
     
      background: #fff;
      }
      .card-text{
        transform: translateY(-40px);
        color:grey;
        font-size: 12px;
      }
      .card-title{
        font-size: 15px;
      }
      .card__button{
        width: 100px;
        font-size: smaller;
      }
      .card__img{
     
        
        transform: translateY(-40px);
      
        height: 80px;
        width: 80px;
      
       
      }
      
    .buy__img{
    height: 200px;
    
    }
    
    .buy__text{
    
    align-items: center;
    font-size: medium;
    width:94%;
    }
    .buy__button{
      background-color: rgb(51, 255, 0);
      width:300px;
      text-align: center;
      transform: translateY(-10px);
      
    }
    .footer{
      display: flex;
      flex-direction: row;
      gap:2rem;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      }
      .footer__logo img{
        width: 120px;
        padding-left: 5px;
      }

      .footer__address{
        width: 150px;
        font-size: 12px;
        
      }
      .footer__address h3{
        font-size: 18px;
      }
      .footer__links{
        width: 120px;
        font-size: small;
        
        font-size: 12px;
  
      }
      .footer__links h3{
        font-size: 18px;
      }
      .footer__news__body{
        margin:10px;
        background-color: rgb(49, 45, 45);
        }
        .footer__news__card{
          width: 12rem;
          background-color: rgb(49, 45, 45);
  
          }
          .footer__news__header{
            font-size: 15px;
          }
          .footer__news__text{
            font-size: small;
          }
      
      
      
     
        .footer__news__card{
          height:200px;
  
        }
        ::placeholder{
          font-size: 10px;
        }
  }
  @media (max-width:600px){
    .nc{
      gap: 0rem;
    }
    .footer__news__card{
      width: 10rem;
      background-color: rgb(49, 45, 45);

      }
      .footer__news__card{
        height:220px;

      }
      .footer__address{
        width: 200px;
        
        
        font-size: 8px;
  
      }
      .footer__address h3{
        font-size: 15px;
      }
      .footer__links{
        width: 120px;
        
        font-size: 8px;
  
        transform:translateY(5px);
      }
      .footer__links h3{
        font-size: 15px;
      }
  }

 /*mobile*/
 
  @media (max-width: 576px) {
    .header{
      display:flex;
      flex-direction: row;
      gap:100px;
    }
    .nc {
      display: flex;
      flex-direction: row;
     
      gap:0;
      background-color: white;
           width: 100%;
           position:absolute;
    }
    .navbar-nav{ 
      display: flex;
      flex-direction: column;
      
      gap: 0;
    }
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 250%;
      width: 250px;
      transform:translateX(120px);
      }
      .navbar-toggler{
        transform:translateX(120px);
        
      }
    .nav__ul{
      background-color:rgb(51, 255, 0);
     }
     .navbar {padding: 0;}
     .navbar .nav-item{padding:1rem 1rem}
  
  
    .nc{
      background-color: white;
    }
    .nav-item {
      text-align: center;
     
  
    }
    .active .nav-link{
      color:black;
    }

    .nav__ul .nav-link{
      color:white;
    }
    .active{
      background-color:lightgrey;
    }
  .slider > img{
    height: 200px;
  }
    
   .slider__body{
     
     justify-content: center;
     align-items: center;
    gap:5px;
     height: 70px;
   }
  
   .slider__text{
    font-size: small;
   }
  .slider__button{
    width:200px;
    font-size: small;
    height: 30px;
    transform: translateY(-10px);
  
  }
  
    .cards {
      flex-direction: column;
      align-items: center;
    }
    .card__img{
     
        
      transform: translateY(-40px);
    
      height: 70px;
      width: 70px;
    
     
    }
    .card{
      margin-bottom: 80px;
      width: 18rem;
    }
    .card-text{
      font-size: small;
    }
    .card-title{
      transform: translateY(-40px);
    }
    .card__button{
      width: 100px;
      font-size: 12px;
    }
    .buy__img{
      height: 200px;
    }
  
  
    .buy__text{

      margin-top: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: small;
      width: 100%;
    }
    .buy__button{
      background-color: rgb(51, 255, 0);
      width:100px;
      text-align: center;
      transform: translateY(-50px);
      
    }
    .slider img{
      height: 250px;
    }
    .footer__logo img{
      width:200px;
    }
  
    
    .footer{
      flex-direction: column;
     
      gap: 30px;
  
  
    }
    .footer__logo{
      padding-top: 20px;
    }
    .footer__links__icon{
      color:white;
      margin: 0;
    }
    .footer__links__header{
      margin-left: 0px;
    }
    .footer__news{
      margin:10px;
       background-color: rgb(49, 45, 45);
    }
    .footer__news__card{
      width: 18rem;
      background-color: rgb(49, 45, 45);
    }
    .footer__news__body{
      margin:10px;
       background-color: rgb(49, 45, 45);
    }
    
    .footer__bottom{
      border-top: 2px solid rgba(105,105,105,0.5);
      color:white;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
    }
    .footer__news__header{
      text-align: 
      left;color: antiquewhite;
    }
    .footer__news__text{
      text-align: left;
      color: grey;
    
    }
    .footer__news__input{
      width:90%;
      margin-bottom: 10px;
    }
  
    .footer__links{
      transform: translateX(-150px);
      font-size: medium;
      width: 200px;
    }
    .footer__address{
      transform: translateX(-150px);
      font-size: medium;
      width: 200px;
    }
    .footer__news__card{
      height:200px;
      width: 14rem;

    }

    
   
    
  }
  @media (max-width: 515px){
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 220px;
      transform:translateX(80px);
      }
      .navbar-toggler{
        transform:translateX(60px);
      }
      .footer__links{
        transform: translateX(-90px);
        font-size: medium;
        width: 200px;
      }
      .footer__address{
        transform: translateX(-90px);
        font-size: medium;
        width: 200px;
      }
  }
  @media (max-width: 475px){
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 220px;
      transform:translateX(90px);
      }
      .navbar-toggler{
        transform:translateX(60px);
      }
  }
  @media (max-width: 425px){
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 220px;
      transform:translateX(80px);
      }
      .navbar-toggler{
        transform:translateX(35px);
      }
      .slider__text{
    
        transform:translateY(-10px);
      }
      .footer__links{
        transform: translateX(-90px);
        font-size: medium;
        width: 200px;
      }
      .footer__address{
        transform: translateX(-90px);
        font-size: medium;
        width: 200px;
      }
  }
  @media (max-width: 400px){
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 200px;
      transform:translateX(50px);
      }
      .navbar-toggler{
        transform:translateX(10px);
      }
      .footer__links{
        transform: translateX(-70px);
        font-size: medium;
        width: 200px;
      }
      .footer__address{
        transform: translateX(-70px);
        font-size: medium;
        width: 200px;
      }
  }
  @media (max-width: 360px){
    .header{
      display:flex;
      flex-direction: row;
      gap:50px;
    }
    .active .nav-link{
      color:black;
    }

    .nav__ul .nav-link{
      color:white;
    }

    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 200px;
      transform:translateX(50px);
      }
      .navbar-toggler{
        transform:translateX(30px);
      }
      .card{
        margin-bottom: 80px;
      }
      .card__img{
     
        
        transform: translateY(-40px);
      
        height: 70px;
        width: 70px;
      
       
      }
      .card-title{
        transform: translateY(-40px);
      }
      .card__button{
        width: 100px;
        font-size: 12px;
      }
      .slider__text{
        font-size:10px;
      }
      .slider img{
        height: 250px;
      }
      .slider__button{
        width:120px;
        font-size: 8px;
        height: 20px;
        transform: translateY(-2px);
      }
      .footer__logo img{
        width:200px;
      }

      .footer__links{
        transform: translateX(-50px);
        font-size: medium;
        width: 200px;
      }
      .footer__address{
        transform: translateX(-50px);
        font-size: medium;
        width: 200px;
      }
      .footer__news__card{
        height:200px;
        width: 14rem;

      }
  }
  @media(max-width: 340px){
    #nav__img{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      width: 200px;
      transform:translateX(30px);
      }
      .navbar-toggler{
        transform:translateX(10px);
      }
  }